body {
    margin-top: 10px;
    /*background-color: azure;*/
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #081c24;
    width: 100%;
    z-index: 999;
    height: 100px;
}


.displayBlock {
    display:block;
}

.headerSearchName {
    font-size: 18px;
    text-align: right;
    color: #f0f8ff;
}

#listM {

    margin-top: 134px
}
#searchList {
    /*position: absolute;*/
    /*background: #d7d7d7;*/
    /*opacity: 0.5;*/
    position: absolute;
    background-color: rgba(52,58,64,.7);
    color: #f0f8ff;
    z-index: 10;

}

#searchMovie {
    /*position: absolute;*/
    /*margin-top: 20px;*/
    /*background: #d7b8b5;*/
}

/*#movieList {*/
    /*margin-top: 100px;*/
    /*background: #d7d7d7;*/
/*}*/
.itemList {

}

.poster {
    width: 100%;

}

.card-body {
    max-height: 220px;
    overflow: hidden;
}

.movie-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    margin-bottom: 25px;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
}
.suggests-component {
    /*position: absolute;*/
    list-style: none;
    /*color: #fff;*/
    /*background-color: rgba(52,58,64,.7);*/
    width: 100%;
    top: 65px;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px 0 0 10px;
}
#movieBackground {
    min-height: 700px;
    margin-top:100px;
}


#movie {
   color: #f0f8ff;
}
.overflow {
    min-height: 700px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 20% 50%,rgba(42,41,34,.88) 0,rgba(42,41,34,.88) 100%);
}
.imgAboutSrc {
    width: 100%;
}
.displayNone {
    display:none;
}

.icons {
    margin: 0px 0px 0px 30px;
    height: 100px;
}
 /*+++++++++++++++++++++++++ SVG+++++++++++++++++*/
.rating {
    width: 70px;
    float: left;
}
.ratingText {
    margin: 20px 0px 30px 30px;
    width:100px;
    font-weight: 700;
    font-size: smaller;
    float: left;
}
.score {
    width:80px;
    height:80px;
}

.score-circle {
    stroke: #17a2b8;
    transition: stroke-dashoffset 1s ease-out;
}
.score-empty {
    stroke: #081c24;
    stroke-width: 55px;
    fill: none;
}
#js-circle{
    /*transform: rotate(-90deg);*/
    /*transform-origin: 38% 42%;*/
    stroke-width: 55px;
    stroke-dasharray: 1100px;
    stroke-dashoffset: 1100px;
    fill: none;
    /*stroke-dashoffset: 33px;*/

}
.score-text {
    fill: #f0f8ff!important;
    font: bold 4rem "Poppins", Helvetica, Arial, sans-serif;
    font-size: 7em;
}

/*+++++++++++++++++++++++++ END SVG+++++++++++++++++*/
.genre {
    margin-right: 15px;
    font-size: 16px;
    color: #f0f8ff!important;
}